html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #7630D9;
    margin: 0;
}
p{
    color: white;
}
a {
    color: #79F2E6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.leftheader {
    text-align: right;
    flex-basis: 40%;
    padding-right: .5rem;
}

.rightheader{
    flex-basis: 60%;
    margin-top: 3.75rem;
    padding-left: .5rem;
}

.rightheader h1 {
    margin: 0;
    color: #04588C;
    font-size: 3rem;
}

.rightheader p {
    margin-top: 0.5rem;
}

nav {
    border-top: 3px solid #532473;
    border-bottom: 3px solid #532473;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #79F2E6;
    display: block;
    padding: .5rem 1rem;
}

nav a:hover {
    background-color: #04588C;
    color: #F06BF2;
    text-decoration: none;
}

section {
    border-bottom: 1px solid #532473;
}

article {
    margin: 2rem 0;
}

article img{
    float: left;
    border-radius: 1rem;
    margin: 0 1rem 1rem 0;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #532473;
    margin-top: .5rem;
}

footer ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
}