:root {
    --clr-background: #F1F0E8;
    --clr-pink: #FFCFEA;
    --clr-yellow: #FEFFBE;
    --clr-green: #CBFFE6;
    --clr-blue: #AFE9FF;
    --clr-purp: #BFB9FF;
    --clr-text: black;

    /* Tailwind sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-background);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    -webkit-user-select: none;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

strong {
    color: var(--clr-blue);
}

a {
    color: var(--clr-blue);
    text-decoration: none;
}